<div class="sign-in screen " data-id="1:122"><img class="image-3-5xOTHh" data-id="1:123"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641be95116866ff49c2b0ad2/img/image-3-2.png"
    alt="Image 3">
  <div class="rectangle-2-5xOTHh" data-id="1:124"></div>
  <div class="rectangle-3-5xOTHh" data-id="1:125"></div>
  <div class="rectangle-11-5xOTHh" data-id="1:126"></div>
  <div class="rectangle-12-5xOTHh" data-id="1:127"></div><a href="home">
    <div class="group-1-5xOTHh" data-id="1:139" data-hotspot-id="hp-0">
      <div class="rectangle-13-Ib2M2o" data-id="1:128"></div>
      <div class="text_label-Ib2M2o inter-normal-black-30px" data-id="1:129">เข้าสู่ระบบ</div>
    </div>
  </a>
  <div class="rtarfmith-5xOTHh inter-normal-black-35px" data-id="1:130">@rtarf.mi.th</div>
  <div class="password-5xOTHh inter-normal-black-35px" data-id="1:131">Password</div><img
    class="account_circle_fill0-5xOTHh" data-id="1:132"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    alt="account_circle_FILL0_wght400_GRAD0_opsz48"><img class="icon-lock-5xOTHh" data-id="1:133"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/lock-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-lock"><a href="rigister">
    <p class="dont-have-an-account-5xOTHh" data-id="1:134" data-hotspot-id="hp-1"><span
        class="span0-gZndNR inter-normal-black-30px">Don't have an account? </span><span
        class="span1-gZndNR">Register</span><span class="span2-gZndNR inter-normal-black-30px">Create by
        Weerayut</span></p>
  </a>
  <h1 class="sign-in-5xOTHh inter-normal-white-45px" data-id="1:135">SIGN IN</h1>
  <div class="rectangle-16-5xOTHh" data-id="1:136"></div>
  <div class="remember-me-5xOTHh inter-normal-black-30px" data-id="1:137">remember me</div><img class="image-1-5xOTHh"
    data-id="1:138"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/image-1-2@2x.png"
    alt="Image 1">
</div>
