<div class="rigister screen " data-id="1:140"><img class="image-3-kNImhj" data-id="1:141"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641be95116866ff49c2b0ad2/img/image-3-3.png"
    alt="Image 3">
  <div class="rectangle-1-kNImhj" data-id="1:142"></div>
  <div class="rectangle-2-kNImhj" data-id="1:143"></div>
  <div class="rectangle-3-kNImhj" data-id="1:144"></div>
  <div class="rectangle-4-kNImhj" data-id="1:145"></div>
  <div class="rectangle-5-kNImhj" data-id="1:146"></div>
  <div class="rectangle-6-kNImhj" data-id="1:147"></div>
  <div class="rectangle-7-kNImhj" data-id="1:148"></div>
  <div class="rectangle-8-kNImhj" data-id="1:149"></div>
  <div class="rectangle-9-kNImhj" data-id="1:150"></div>
  <div class="rectangle-10-kNImhj" data-id="1:151"></div>
  <div class="rectangle-11-kNImhj" data-id="1:152"></div>
  <div class="rectangle-12-kNImhj" data-id="1:153"></div>
  <div class="icon-lock-kNImhj icon-lock" data-id="1:154"></div><a href="sign-in">
    <div class="register-kNImhj register" data-id="1:155" data-hotspot-id="hp-0">Register</div>
  </a>
  <div class="text_label-kNImhj text_label inter-normal-black-35px" data-id="1:156">ชื่อ..</div>
  <div class="text_label-fZdqqw text_label inter-normal-black-35px" data-id="1:157">นามสกุล</div>
  <div class="text_label-r3hQRd text_label inter-normal-black-35px" data-id="1:158">เลขประจำตัวทหาร</div>
  <div class="rtarfmith-kNImhj inter-normal-black-35px" data-id="1:159">@rtarf.mi.th</div>
  <div class="password-kNImhj inter-normal-black-35px" data-id="1:160">Password</div>
  <h1 class="register-fZdqqw register inter-normal-white-45px" data-id="1:161">REGISTER</h1><img
    class="icon-notifications-kNImhj" data-id="1:162"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-notifications"><img class="icon-mail-kNImhj" data-id="1:163"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-mail"><img class="account_circle_fill0-kNImhj account_circle_fill0" data-id="1:164"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    alt="account_circle_FILL0_wght400_GRAD0_opsz48"><img class="account_circle_fill0-fZdqqw account_circle_fill0"
    data-id="1:165"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    alt="account_circle_FILL0_wght400_GRAD0_opsz48"><img class="icon-lock-fZdqqw icon-lock" data-id="1:166"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/lock-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-lock"><img class="expand_more_fill0_wght400_grad0_opsz48-kNImhj" data-id="1:167"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/expand-more-fill0-wght400-grad0-opsz48@2x.png"
    alt="expand_more_FILL0_wght400_GRAD0_opsz48"><a href="sign-in">
    <p class="have-an-account-login-create-by-weerayut-kNImhj" data-id="1:168" data-hotspot-id="hp-1"><span
        class="span0-dxjD3M inter-normal-black-30px">Have an account?</span><span
        class="span1-dxjD3M">&nbsp;</span><span class="span2-dxjD3M">Login</span><span
        class="span3-dxjD3M inter-normal-black-30px">Create by Weerayut</span></p>
  </a><img class="image-1-kNImhj" data-id="1:169"
    src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/image-1-2@2x.png"
    alt="Image 1">
</div>
